<a href="https://colab.research.google.com/github/lkayarana/YetGen_Jump_Python/blob/main/Rana_Kaya_4_Hafta_E%C4%9Fitim_Sonras%C4%B1_G%C3%B6revi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1
`ogrenciler` adında bir sözlük oluşturunuz. Kullanıcıdan döngü yardımıyla 3 öğrenci için veri girmesini isteyerek öğrencilerin sırasıyla okul numarası, isim, soy isim, telefon numarası ve doğum tarihi bilgilerini alınız. Aldığınız öğrenci bilgilerini yine aynı döngü yardımıyla `ogrenciler` adındaki sözlükte saklayınız. Daha sonra öğrenci bilgilerinin bulunduğu sözlük yapısını ekrana bastırınız.

In [ ]:
# 1. problemimiz için kodlarını buraya yazabilirsin.
ogrenciler= {}

for i in range(1,4):
  okul_numarası=input("okul numarasını giriniz:")
  isim=input("İsminizi giriniz:")
  soy_isim=input("Soy isim giriniz:")
  telefon_numarası=("Telefon numarası giriniz:")
  dogum_tarihi=input("Doğum tarihi giriniz:")

print("**********************")

ogrenciler[i]={
    "Okul No": okul_numarası,
    "isim": isim,
    "Soy isim": soy_isim,
    "Telefon": telefon_numarası,
    "Doğum tarihi": dogum_tarihi
}

print(ogrenciler)

okul numarasını giriniz:170105
İsminizi giriniz:rana
Soy isim giriniz:kaya
Doğum tarihi giriniz:12-04-1999
okul numarasını giriniz:170108
İsminizi giriniz:ahmet
Soy isim giriniz:tatlı
Doğum tarihi giriniz:03-05-1998
okul numarasını giriniz:170109
İsminizi giriniz:caroline
Soy isim giriniz:akarsu
Doğum tarihi giriniz:04-08-1956
**********************
{3: {'Okul No': '170109', 'isim': 'caroline', 'Soy isim': 'akarsu', 'Telefon': 'Telefon numarası giriniz:', 'Doğum tarihi': '04-08-1956'}}

In [ ]:
ogrenciler

{3: {'Okul No': '170109',
  'isim': 'caroline',
  'Soy isim': 'akarsu',
  'Telefon': 'Telefon numarası giriniz:',
  'Doğum tarihi': '04-08-1956'}}

# Problem 2

**a) 2. probleme biraz ısınarak başlayalım!**

```
numbers = [5,10,10,15,15,15,20,20,20,20]
```

Yukarıda `numbers` adında 10 elemanlı bir liste verilmiştir. Bu listenin her elemanını kontrol eden ve tekrar eden elemanları bir kez olacak şekilde başka bir listeye kopyalayan bir program yazınız. Son olarak oluşturduğunuz listeyi ekrana bastırınız.




```
>Output
[5, 10, 15, 20]
```

In [ ]:
# 2. problemimizin "a" şıkkı için kodlarını buraya yazabilirsin.

numbers = [5,10,10,15,15,15,20,20,20,20]

unique=[]

for number in numbers:
  if number in unique:
    continue
  else:
    unique.append(number)
print(unique)

[5, 10, 15, 20]

**🌶️ b) Hadi işi biraz daha zorlaştıralım!**

Şimdiyse senden `numbers` isimli listedeki tekrar eden elemanları `repeatNumbers` adındaki listeye; tekrar etmeyen elemanları `uniqueNumbers`adındaki listeye kopyalayan yazmanı ve listeleri ekrana bastırmanı bekliyoruz

```
>Output
Tekrar Eden Elemanlar: [10, 10, 15, 15, 15, 20, 20, 20, 20]
Tekrar Etmeyen Elemanlar: [5]
```

In [ ]:
# 2. problemimizin "b" şıkkı için kodlarını buraya yazabilirsin.

numbers = [5,10,10,15,15,15,20,20,20,20]

unique=[]
repeats=[]

for number in numbers:
  if numbers.count(number)==1:
    unique.append(number)
  else:
    repeats.append(number)
print("Unique Numbers:",unique)
print("Repeat Number:",repeats)

Unique Numbers: [5]
Repeat Number: [10, 10, 15, 15, 15, 20, 20, 20, 20]

# Problem 3

sn1 = {1,2,3,4,5}

sn2 = {4,5,6,7,8}

 Verilen 2 adet küme için kesişimlerini, farklarını ve birleşimlerini bulunuz.

In [ ]:
# 3. problemimiz için kodlarını buraya yazabilirsin.
sn1 = {1,2,3,4,5}

sn2 = {4,5,6,7,8}

x=sn1.intersection(sn2)
print("Kesişim:",x)

Kesişim: {4, 5}

In [ ]:
sn1 = {1,2,3,4,5}

sn2 = {4,5,6,7,8}

y=sn1.difference(sn2)
y=sn1.difference_update(sn2)
print("Fark:",y)
print(sn1)

Fark: None
{1, 2, 3}

In [ ]:
sn1 = {1,2,3,4,5}

sn2 = {4,5,6,7,8}

y1=sn2.difference_update(sn1)
print("Fark2:",sn2)

Fark2: {6, 7, 8}

In [ ]:
sn1 = {1,2,3,4,5}

sn2 = {4,5,6,7,8}

z=sn1.update(sn2)
print("Birleşim:",sn1)

Birleşim: {1, 2, 3, 4, 5, 6, 7, 8}

#Problem 4

[("xxx",1),("xxx",2),("xxx",9),("xxx",3), ("xxx",1),("xxx",13),("xxx",26),("xxx",4)] listesi içerisinde verilen elemanların her birini tuple içindeki 2. Elemana göre sıralayınız. 


YetNot: Bu problem için ilerleyen haftalarda göreceğimiz ```lambda``` fonksiyonunu araştırabilirsiniz. Doğru araştırmayla, doğru cevaba ulaşabileceğiniz eminiz!

In [ ]:
# 4. problemimiz için kodlarını buraya yazabilirsin.
y=[("xxx",1),("xxx",2),("xxx",9),("xxx",3), ("xxx",1),("xxx",13),("xxx",26),("xxx",4)]

y.sort(key=lambda y : y[1])
print(y)

[('xxx', 1), ('xxx', 1), ('xxx', 2), ('xxx', 3), ('xxx', 4), ('xxx', 9), ('xxx', 13), ('xxx', 26)]

In [ ]:
y

[('xxx', 1),
 ('xxx', 1),
 ('xxx', 2),
 ('xxx', 3),
 ('xxx', 4),
 ('xxx', 9),
 ('xxx', 13),
 ('xxx', 26)]